<%- @page_title = 'Log In' -%>

<header class="content-header">
	<h1>Log In</h1>
</header>

<%= form_tag auth_start_path, method: 'post' do %>
	<%= label_tag :me, 'URL' %>

	<div class="inline-form-fields">
		<%= url_field_tag :me, nil, placeholder: 'http://…', required: true %>
		<button type="submit">Submit</button>
	</div>
<% end %>
