.entry-content,
.entry-excerpt {
	p {
		margin-bottom: $spacing-2;
	}
}

.entry-content {
	position: relative;

	blockquote {
		font-style: italic;
		margin: 0;
		@include padding-x(3);
		@include thick-border(left);

		code,
		em,
		i {
			font-style: normal;
		}
	}

	img {
		display: inline-block;
		border: 0.25em solid $darken-1;
		margin-bottom: $spacing-2;
		padding: 0.25em;
	}

	&:focus img,
	&:hover img {
		border-color: $darken-2;
	}

	code {
		background-color: $darken-1;
		display: inline-block;
		font-size: 0.8em;
		padding: ($spacing-1 / 2) $spacing-1;
	}
}