.dockerignore
.editorconfig
.env
.env.*
.git*
.rspec
.rubocop*
.ruby-version
.simplecov
**/*.DS_Store
**/*.log
**/*.md
/.circleci/
/bin/
/config/brakeman.yml
/config/deploy*
/log/*
!/log/.keep
/public/assets/
/public/uploads/
/spec/
/tmp/*
!/tmp/pids/.keep
/vendor/*
!/vendor/.keep
Capfile
Dockerfile
Procfile*
