$profiles: (
	bandcamp: #4e9bac,
	codepen: #222,
	delicious: #248cff,
	facebook: #3b5998,
	ficly: #b51c2c,
	flickr: #0063db,
	github: #4183c4,
	instagram: #517fa4,
	keybase: #fe8547,
	kickstarter: #76cc1e,
	lanyrd: #152e51,
	letterboxd: #ff9a00,
	photodrop: #cdb6e3,
	pinterest: #cb2027,
	polar: #2da1dc,
	rdio: #0088da,
	twitter: #00aced,
	vimeo: #aad450,
	vsco: #9db636,
	youtube: #b00
);