$grey--base: #777;

$palettes: (
	blue: (
		light: #4678b9,
		dark: #465a78
	),
	grey: (
		x-light: lighten($grey--base, 48%),
		light: lighten($grey--base, 10%),
		base: $grey--base,
		dark: darken($grey--base, 10%),
		x-dark: darken($grey--base, 27%)
	)
);

$profiles: (
	bandcamp: #4e9bac,
	codepen: #222,
	delicious: #39f,
	facebook: #3b5998,
	ficly: #b51c2c,
	flickr: #0063dc,
	github: #4183c4,
	goodreads: #5a471c,
	huffduffer: #313233,
	instagram: #3f729b,
	instapaper: #000,
	keybase: #fe8547,
	kickstarter: #2bde73,
	lanyrd: #152e51,
	letterboxd: #ff9a00,
	medium: #000,
	npm: #cb3837,
	photodrop: #cdb6e3,
	polar: #2da1dc,
	rdio: #007dc3,
	speakerdeck: #396,
	twitter: #55acee,
	untappd: #ffcf00,
	vimeo: #1ab7ea,
	vsco: #a8a749
);