.mention-form {
	label {
		cursor: pointer;
		display: block;
		@include font-size(x-small);
		margin-bottom: 0.5em;

		@include breakpoint($break--narrow) {
			@include font-size(small);
		}
	}
}

.mention-fields {
	@extend %clear;

	input {
		background: #fff;
		border: solid palette(grey, x-light);
		border-width: 0.125em 0 0.125em 0.125em;
		float: left;
		height: 2.5em;
		padding: 0 0.5em;
		max-width: 26em;
		width: 70%;

		&:focus {
			border-color: darken(palette(grey, x-light), 10%);
		}

		@include input-placeholder {
			color: palette(grey);
		}
	}

	button {
		background: palette(blue, light);
		border: 0;
		border-radius: 0 0.25em 0.25em 0;
		color: #fff;
		float: left;
		height: 2.5em;
		max-width: 6em;
		width: 30%;

		&:focus,
		&:hover {
			background: darken(palette(blue, light), 5%);
		}
	}
}