.global-content {
	margin: 3em 0 4em 0;

	@include breakpoint($break--narrow) {
		margin: 4em 0;
	}
}

.content-header h1 {
	font-size: em(32);
	line-height: 1.2;
	margin: 0;

	@include breakpoint($break--narrow) {
		font-size: em(48);
	}
}