.global-header {
	background: palette(grey, x-light);
	padding: 0.75em 0;

	h1 {
		@include font-size;
		margin: 0;

		@include breakpoint($break--narrow) {
			@include font-size(x-large);
		}
	}

	a {
		text-decoration: none;
	}
}