.global-navigation {
	float: right;
	margin-top: 0.25em;

	@include breakpoint($break--narrow) {
		margin-top: 0.5em;
	}

	ul {
		@extend %ui-list;
	}

	a {
		display: inline-block;
		font-weight: bold;
		margin: -0.25em -0.5em;
		padding: 0.25em 0.5em;
		text-decoration: none;
		text-transform: uppercase;
	}
}