/* @group Elements */

html {
	background: fixed #324b83 no-repeat;
	background-image: -moz-radial-gradient( 50% 50%, circle farthest-side, #4a6da2 0, #324b83 90% );
	background-image: -webkit-gradient( radial, 50% 50%, 0, 50% 50%, 500, from( #4a6da2 ), to( #324b83 ) );
	background-image: -webkit-radial-gradient( 50% 50%, circle farthest-side, #4a6da2 0, #324b83 90% );
	color: #fff;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-weight: bold;
	height: 100%;
	text-shadow: 1px 1px 2px rgba( 0, 0, 0, 0.3 );
	width: 100%;
}

body {
	overflow: hidden;
}

section {
	display: block;
	vertical-align: middle;
	text-align: center;
	width: 100%;
}

section h1 {
	font-size: 100px;
}

section h2 {
	font-size: 60px;
	margin-top: 10px;
}

section p {
	margin-top: 40px;
}

section p img {
	-moz-box-shadow: 1px 1px 2px rgba( 0, 0, 0, 0.3 );
	-webkit-box-shadow: 1px 1px 2px rgba( 0, 0, 0, 0.3 );
	box-shadow: 1px 1px 2px rgba( 0, 0, 0, 0.3 );
	display: inline-block;
}

section iframe {
	border: 10px solid #fff;
	-moz-box-shadow: 1px 1px 2px rgba( 0, 0, 0, 0.3 );
	-webkit-box-shadow: 1px 1px 2px rgba( 0, 0, 0, 0.3 );
	box-shadow: 1px 1px 2px rgba( 0, 0, 0, 0.3 );
	display: inline-block;
}

/* @end */