<!doctype html>
<html id="sixtwothree-org" lang="en-US">
<head>
	<meta charset="utf-8">

	<title>
		{% if page.title %}
			{{ page.title }} — {{ site.name }}
		{% else %}
			{{ site.name }} — {{ site.description }}
		{% endif %}
	</title>

	<meta name="apple-mobile-web-app-title" content="sixtwothree">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="icon shortcut" href="http://gravatar.com/avatar/0f21734c5383cd5d49234fba7a6b2131?s=16" sizes="16x16">
	<link rel="icon shortcut" href="http://gravatar.com/avatar/0f21734c5383cd5d49234fba7a6b2131?s=32" sizes="32x32">
	{% stylesheet application %}
</head>
<body>

	<header class="global-header" role="banner">
		<div class="layout-container">
			<h1><a href="/" rel="home" title="Home">{{ site.name }}</a></h1>
		</div>
	</header>

	<div class="layout-container">
		<main class="global-content {{ page.global_content_classes }}" role="main">
			{{ content }}
		</main>

		<footer class="global-footer" role="contentinfo">
			<p>Some rights reserved. This site’s content is licensed under a <a href="{{ site.license.url }}" rel="license">{{ site.license.title }} license</a>. Souce code available on <a href="https://github.com/jgarber623/sixtwothree.org" rel="source">GitHub</a>.</p>
		</footer>
	</div>

	<script>
		var _gaq = [
			['_setAccount', 'UA-5230764-4'],
			['_setDomainName', 'sixtwothree.org'],
			['_setCustomVar', 1, 'DevicePixelRatio', (window.devicePixelRatio >= 1.5) ? 'HiDPI' : '1X', 2],
			['_trackPageview']
		];

		(function(d,t) {
			g=d.createElement(t);s=d.getElementsByTagName(t)[0];
			g.src='//www.google-analytics.com/ga.js';s.parentNode.insertBefore(g,s);
		}(document,'script'));
	</script>

</body>
</html>