---
layout: application
---

<article class="post--single post h-entry h-as-article">
	<header class="post-header">
		<h1 class="post-title p-name">{{ page.title }}</h1>
		<p>Published on <time class="dt-published" datetime="{{ page.date | datetime_to_iso_string }}">{{ page.date | datetime_to_string }}</time>.</p>
	</header>

	<div class="post-content e-content">
		{{ content }}
	</div>

	<aside class="mentions" id="responses" role="complementary">
		<form method="post" action="http://webmention.sixtwothree.org/" class="mention-form">
			<input type="hidden" name="referer" value="{{ site.title }}">
			<input type="hidden" name="target" value="{{ site.url }}{{ page.url }}">

			<label for="mention-url">Have you written a response to this? Let me know the URL:</label>

			<div class="mention-fields">
				<input type="url" id="mention-url" name="source" placeholder="http://…" required>
				<button type="submit">Submit</button>
			</div>
		</form>
	</aside>

	<footer class="post-footer" role="complementary">
		<ul class="post-meta">
			<li>“<a href="{{ page.url }}" class="u-url">{{ page.title }}</a>”  is also available as <a href="{{ page.url }}.json" rel="alternate" type="application/json">JSON</a>. View <a href="{{ site.repository_url }}/commits/master/src/{{ page.path }}">revision history</a>.</li>
			{% if page.tags.size > 0 %}
				<li>
					<dl>
						<dt>Tagged:</dt>
						{% for tag in page.tags %}
							<dd><a href="/tags/{{ tag }}" class="p-category">{{ tag }}</a></dd>
						{% endfor %}
					</dl>
				</li>
			{% endif %}
			{% if page.copies %}
				<li>
					<dl>
						<dt>Syndicated:</dt>
						{% for copy in page.copies %}
							<dd><a href="{{ copy.url }}" class="u-syndication">{{ copy.title }}</a></dd>
						{% endfor %}
					</dl>
				</li>
			{% endif %}
		</ul>

		{% include bio--mini.html %}
	</footer>
</article>

{% include templates/responses.html %}
{% include templates/reply.html %}
{% include templates/reference.html %}

{% include templates/likes.html %}
{% include templates/reposts.html %}
{% include templates/avatar.html %}