@-ms-viewport{
	width: device-width;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

[aria-hidden] {
	display: none !important;
}

[tabindex="-1"]:focus {
	outline: 0;
}

html {
	background-color: #fff;
	box-sizing: border-box;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	@include color($grey, darker);
	font-family: "Source Sans Pro", sans-serif;
	line-height: 1.4;
	margin: 0;
}

article,
aside,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
	display: block;
}

/* @group Links */

	a {
		background-color: transparent;
		@include color($blue);
		text-decoration: underline;

		&:active,
		&:hover {
			outline: 0;
		}

		&:focus,
		&:hover {
			@include color($blue, dark);
		}
	}

/* @end */

/* @group Text-level semantics */

	abbr[title] {
		border: 0;
		text-decoration: underline dotted;
	}

	b,
	strong {
		font-weight: bolder;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: "Open Sans", sans-serif;
		line-height: 1.25;
		margin-bottom: 0.5em;
		margin-top: 1em;
	}

	@for $i from 1 through 6 {
		h#{$i} {
			@include font-size($i);
		}
	}

	dl,
	menu,
	ol,
	p,
	ul {
		margin-bottom: 1.5em;
		margin-top: 0;
	}

	dl,
	menu,
	ol,
	ul {
		padding-left: 2em;
	}

	cite {
		font-style: italic;
	}

	sup {
		font-size: 100%;
		line-height: 0;
		position: relative;
		top: auto;
		vertical-align: baseline;
	}

/* @end */

/* @group Embedded content */

	img {
		border: 0;
		-ms-interpolation-mode: bicubic;
		max-width: 100%;
		vertical-align: middle;
	}

	svg {
		max-height: 100%;

		&:not(:root) {
			overflow: hidden;
		}
	}

/* @end */

/* @group Grouping content */

	hr {
		box-sizing: content-box;
		overflow: visible;
	}

	code,
	pre {
		font-family: Monaco, "Courier New", Courier, monospace;
		font-size: 1em;
	}

	pre {
		overflow: auto;
	}

/* @end */

/* @group Forms */

	form {
		ul {
			@extend %reset-list;
		}

		li {
			margin-bottom: $spacing-3;
		}
	}

	label {
		cursor: pointer;
		display: block;
		margin-bottom: $spacing-1;

		abbr[title] {
			text-decoration: none;
		}
	}

	button,
	input,
	textarea {
		font: inherit;
		margin: 0;
	}

	button::-moz-focus-inner,
	input::-moz-focus-inner {
		border: 0;
		padding: 0;
	}

	button {
		@extend %button--blue;
		height: 2.5em;
	}

	input {
		line-height: normal;

		&[type="checkbox"] {
			box-sizing: border-box;
			padding: 0;
		}

		&[type="file"] {
			width: 100%;
		}

		&[type="text"],
		&[type="url"] {
			height: 2.5em;
		}
	}

	input[type="text"],
	input[type="url"],
	textarea {
		-webkit-appearance: none;
		border: 0.125em solid $darken-1;
		@include border-radius(0);
		padding: $spacing-1;
		width: 100%;

		&:focus {
			border-color: $darken-2;
		}

		@include input-placeholder {
			@include color($grey);
		}
	}

	textarea {
		overflow: auto;
	}

/* @end */

/* @group Tables */

	table {
		border-collapse: collapse;
		margin: $spacing-1 0 $spacing-4 0;
		width: 100%;

		caption {
			caption-side: bottom;
			@include font-size(6);
			margin-top: $spacing-2;
			text-align: center;
		}

		th {
			padding: $spacing-1 $spacing-1 $spacing-1 0;
			text-align: left;
		}

		tbody {
			@include font-size(6);

			tr {
				border-bottom: 2px solid $darken-1;

				&:first-child {
					border-top: 2px solid $darken-1;
				}
			}

			td {
				padding: $spacing-1 $spacing-1 $spacing-1 0;

				&:last-child {
					padding-right: 0;
				}
			}
		}
	}

/* @end */