.admin-panel {
	menu {
		@extend %reset-list;
		margin-top: $spacing-2;
		table-layout: fixed;
		width: 100%;

		@include breakpoint($tp-medium) {
			margin: 0;
		}

		a,
		button {
			display: block;
			height: auto;
			text-align: center;
			width: 100%;
		}

		a {
			@extend %button--blue;

			&:focus,
			&:hover {
				color: #fff;
			}
		}
	}

	.local {
		display: table;

		@include breakpoint($bp-narrow) {
			@include padding-x;
		}

		@include breakpoint($tp-medium) {
			float: right;
			padding: 0;
			width: auto;
		}

		li {
			padding-right: $spacing-1;
			@include table-cell;

			+ li {
				padding: 0 0 0 $spacing-1;
			}
		}
	}

	.global {
		@include breakpoint($bp-narrow) {
			display: table;
			padding: 0;
		}

		@include breakpoint($tp-medium) {
			width: auto;
		}

		li {
			@include margin-y(1);

			@include breakpoint($bp-narrow) {
				@include padding-x;
				@include table-cell;
			}

			@include breakpoint($tp-medium) {
				&:first-child {
					padding-left: 0;
				}
			}
		}
	}
}