.admin-panel-control {
	height: auto;

	@include breakpoint($tp-medium) {
		float: left;
		margin-right: $spacing-2;
	}

	svg {
		display: inline-block;
		fill: #fff;
		position: relative;
		top: -1px;
		vertical-align: middle;
	}
}