.draft {
	@extend %button--red;
	@include caps;
	font-size: 50%;
	font-weight: bold;
	margin-left: $spacing-1;
	vertical-align: middle;

	.photos &,
	.entries & {
		font-size: 100%;
		left: $spacing-2;
		margin: 0;
		position: absolute;
		bottom: $spacing-2;
	}

	.single-photo & {
		font-size: 100%;
		margin: $spacing-3 0 0 0;
	}
}