.draft {
	@extend %button--red;
	@include caps;
	font-weight: bold;
	vertical-align: middle;

	.photos & {
		left: $spacing-2;
		position: absolute;
		bottom: $spacing-2;

		@include breakpoint($bp-narrow) {
			left: $spacing-1 + $spacing-2;
		}
	}

	.single-header & {
		font-size: 50%;
		margin-left: $spacing-1;
	}

	.single-photo & {
		font-size: 100%;
		margin: $spacing-3 0;
	}
}