@include breakpoint($bp-narrow) {
	body {
		padding-bottom: $spacing-4;
	}
}

table {
	[data-webmention-status="unverified"] {
		@include color($red);
	}

	[data-webmention-status="verified"] {
		@include color($green);
	}

	.mq-toggle {
		display: none;

		@include breakpoint($tp-medium) {
			display: table-cell;
		}
	}

	.actions {
		text-align: right;
	}

	.button,
	.delete {
		line-height: 1;
	}
}