/* @group General form styles */

	input[type="checkbox"] {
		margin-right: $spacing-1;
	}

	textarea {
		height: 16em;
		resize: vertical;
	}

/* @end */

/* @group Specific form styles */

	.for-checkbox {
		background-color: $darken-1;
		@include border-radius;
		@include color($grey, dark);
		display: inline-block;
		padding: $spacing-1 $spacing-2;
	}

/* @end */

/* @group Form errors */

	.form-errors {
		background-color: $darken-1;
		@include color($red);
		margin-bottom: $spacing-3;
		padding: $spacing-2;

		h2 {
			@include font-size(4);
			margin-bottom: $spacing-2;
			margin-top: 0;
		}

		ul {
			margin-bottom: 0;
		}

		li {
			margin-bottom: $spacing-1;
		}

		a {
			@include color($red);
			font-weight: bold;

			&:focus,
			&:hover {
				@include color($red, dark);
			}
		}
	}

	.field_with_errors {
		label {
			@include color($red);
			font-weight: bold;
		}

		.hint {
			font-weight: normal;
		}

		input,
		textarea {
			&,
			&:focus {
				@include border-color($red);
			}
		}
	}

/* @end */