.syndications-container {
	background-color: $darken-1;
	margin-top: $spacing-4;
	padding: $spacing-1 $spacing-2;

	@include breakpoint($bp-narrow) {
		padding: $spacing-1 $spacing-3;
	}
}

.automated-syndications-container {
	@include margin-y(4);

	ul {
		@extend %reset-list;
	}

	li {
		margin-right: $spacing-1;

		+ li {
			margin-top: $spacing-1;
		}

		@include breakpoint($bp-narrow) {
			display: inline-block;

			+ li {
				margin-top: 0;
			}
		}

		button {
			width: 100%;
		}
	}
}

@each $network in flickr, medium, twitter {
	[data-syndicate-to="#{$network}"] button {
		@include bg-color($profiles, $network);

		&:focus,
		&:hover {
			background-color: darken(map-get($profiles, $network), 6.25%);
		}
	}
}
