default: &default
  adapter: postgresql
  encoding: utf8
  pool: 5
  username: root
  password:
  host: localhost

development:
  <<: *default
  database: sixtwothree_development

test:
  <<: *default
  database: sixtwothree_test

production:
  <<: *default
  database: sixtwothree_production
  username: sixtwothree
  password: <%= ENV['SIXTWOTHREE_DATABASE_PASSWORD'] %>
