.post-content {
	margin: 3em 0;

	h2 {
		font-size: em(24);
		margin: 1.5em 0 0.75em 0;

		@include breakpoint($break--narrow) {
			font-size: em(32);
		}
	}

	h3 {
		font-size: em(18);
		margin: 1.5em 0 0.75em 0;

		@include breakpoint($break--narrow) {
			font-size: em(24);
		}
	}

	ol {
		padding-left: 1.5em;
	}

	ul {
		padding-left: 1em;
	}

	@include breakpoint($break--wide) {
		ol,
		ul {
			padding-left: 0;
		}
	}

	p,
	li {
		font-size: em(18);

		@include breakpoint($break--wide) {
			font-size: em(21);
		}
	}

	p {
		line-height: 1.6;
	}

	li {
		line-height: 1.4;

		+ li {
			margin-top: 0.75em;
		}
	}

	li li {
		font-size: 1em;
		margin: 0.25em 0 0 1em;
	}

	blockquote {
		border-left: 0.5em solid palette(grey, light);
		margin: 1em 0;
		padding: 0 2em 0 1.5em;

		@include breakpoint($break--wide) {
			margin-left: -2em;
			padding: 0 0 0 1.5em;
		}

		p,
		li {
			font-size: em($target: 16, $context: 18);

			@include breakpoint($break--wide) {
				font-size: em(18);
			}
		}
	}

	img {
		border: 0.25em solid palette(grey, light);
		display: block;
		max-width: 100%;
		padding: 0.25em;
	}

	code {
		background: palette(grey, light);
		display: inline-block;
		font-family: Monaco, "Courier New", Courier, monospace;
		font-size: em($target: 14, $context: 18);
		padding: 0.25em 0.5em;
	}

	pre {
		background: palette(grey, light);
		margin: 3em 0;
		overflow-x: scroll;
		padding: 1em;
		width: 100%;

		code {
			background: none;
			font-size: em(16);
			padding: 0;
		}
	}

	del {
		color: palette(grey);

		code {
			background: none;
			text-decoration: line-through;
			padding: 0;
		}
	}
}