.post-content {
	margin: 3em 0;

	h2 {
		@include font-size(x-large);
		margin: 1.5em 0 0.75em 0;

		@include breakpoint($break--narrow) {
			@include font-size(xx-large);
		}
	}

	h3 {
		@include font-size;
		margin: 1.5em 0 0.75em 0;

		@include breakpoint($break--narrow) {
			@include font-size(x-large);
		}
	}

	ol {
		padding-left: 1.5em;
	}

	ul {
		padding-left: 1em;
	}

	@include breakpoint($break--wide) {
		ol,
		ul {
			padding-left: 0;
		}
	}

	p,
	li {
		@include font-size;

		@include breakpoint($break--wide) {
			@include font-size(large);
		}
	}

	p {
		line-height: 1.6;
	}

	li {
		line-height: 1.4;

		+ li {
			margin-top: 0.75em;
		}

		li {
			font-size: 1em;
			margin: 0.25em 0 0 1em;
		}
	}

	blockquote {
		border-left: 0.5em solid palette(grey, x-light);
		margin: 1em 0;
		padding: 0 2em 0 1.5em;

		@include breakpoint($break--wide) {
			margin-left: -2em;
			padding: 0 0 0 1.5em;
		}

		p,
		li {
			@include font-size(x-small);

			@include breakpoint($break--wide) {
				@include font-size;
			}
		}
	}

	img {
		border: 0.25em solid palette(grey, x-light);
		display: block;
		max-width: 100%;
		padding: 0.25em;
	}

	code {
		background: palette(grey, x-light);
		display: inline-block;
		font-family: Monaco, "Courier New", Courier, monospace;
		@include font-size(small);
		padding: 0.25em 0.5em;
	}

	pre {
		background: palette(grey, x-light);
		margin: 3em 0;
		overflow-x: scroll;
		padding: 1em;
		width: 100%;

		code {
			background: none;
			font-size: 1em; // Set directly to counter a Webkit bug with `code` and 1rem
			padding: 0;
		}
	}

	del {
		color: palette(grey, light);

		code {
			background: none;
			text-decoration: line-through;
			padding: 0;
		}
	}
}