.post-meta {
	@extend %ui-list;

	li {
		@include font-size(x-small);

		@include breakpoint($break--narrow) {
			@include font-size(small);
		}

		+ li {
			margin-top: 0.5em;
		}
	}

	dt,
	dd {
		display: inline-block;
	}

	dt {
		margin-right: 0.25em;
	}

	dd {
		margin: 0;

		&:after {
			content: ', ';
		}

		&:last-child:after {
			content: '';
		}
	}
}