.post--single {
	.post-header {
		text-align: center;

		@include breakpoint($tweak--wide) {
			margin: 0 -6em;
		}

		p {
			color: palette(grey, light);
			@include font-size(x-small);
			margin: 1.5em 0 0 0;

			@include breakpoint($break--narrow) {
				@include font-size(small);
			}
		}
	}

	.post-title {
		@include font-size(xx-large);
		line-height: 1.2;

		@include breakpoint($break--narrow) {
			@include font-size(xxx-large);
		}
	}

	.post-footer {
		border-top: 0.5em solid palette(grey, x-light);
		padding-top: 1em;

		> p {
			@include font-size(small);
		}
	}
}