.post-tags {
	margin: 0.5em 0 0 0;

	dt {
		display: inline-block;
		margin-right: 0.25em;
	}

	dd {
		display: inline-block;
		margin: 0;

		&:after {
			content: ', ';
		}

		&:last-child:after {
			content: '';
		}
	}
}