<%- @page_title = t('tags.show.title', tag: @tag.name) -%>

<div class="h-feed">
	<header>
		<h1 class="p-name"><%= @page_title %></h1>
	</header>

	<%- if @tagged_articles.any? -%>
		<ol reversed>
			<%- @tagged_articles.each do |article| -%>
				<li>
					<div class="h-entry">
						<%= link_to article.name.smarten, article_path(article), class: 'u-url p-name' %>
					</div>
				</li>
			<%- end -%>
		</ol>
	<%- else -%>
		<p><%= t('tags.show.none', tag: @tag.name) %></p>
	<%- end -%>
</div>
