$blue: (
	mid: #0074d9,
	dark: #0052d9
);

$green: (
	mid: #2ecc40,
	dark: #2eaa40
);

$red: (
	mid: #ff4136,
	dark: #e11f14
);

$grey: (
	light: #909090,
	mid: #757575,
	dark: #5a5a5a,
	darker: #333
);

$yellow: (
	mid: #ffdc00
);

$darken-1: rgba(#000, 0.0625);
$darken-2: rgba(#000, 0.125);

$profiles: (
	bandcamp: #4e9bac,
	codepen: #222,
	discogs: #333,
	facebook: #3b5998,
	flickr: #ff0084,
	github: #4183c4,
	goodreads: #5a471c,
	huffduffer: #313233,
	indiewebcamp: #ed2324,
	instagram: #9b6954,
	instapaper: #000,
	kickstarter: #2bde73,
	lanyrd: #152e51,
	letterboxd: #ff9a00,
	medium: #000,
	npm: #cb3837,
	rubygems: #e9573f,
	speakerdeck: #396,
	twitter: #55acee,
	vimeo: #1ab7ea,
	vsco: #a8a749
);