$spacing: (8px, 16px, 32px, 64px, 96px, 192px);

$spacing-1: nth($spacing, 1);
$spacing-2: nth($spacing, 2);
$spacing-3: nth($spacing, 3);
$spacing-4: nth($spacing, 4);
$spacing-5: nth($spacing, 5);
$spacing-6: nth($spacing, 6);