.avatar {
	display: block;
	position: relative;

	&::after {
		@include border-radius(0 0 0.125em 0.125em);
		bottom: 0;
		content: "";
		display: block;
		height: 0.25em;
		left: 0;
		position: absolute;
		right: 0;
	}

	@each $network in facebook, flickr, instagram, twitter {
		&.#{$network}-com::after {
			@include bg-color($profiles, $network);
		}
	}

	img {
		@include border-radius;
		display: block;
		height: 2.5em;
		max-width: none;
	}
}