.facepile-container {
	margin-bottom: $spacing-3;

	@include breakpoint($bp-narrow) {
		float: left;
		padding-right: $spacing-2;
		width: 50%;

		& + & {
			float: right;
			padding-left: $spacing-2;
			width: 50%;
		}

		&:first-of-type:last-of-type {
			float: none;
			padding: 0;
			width: auto;
		}
	}

	h2 {
		margin-top: 0;

		@include breakpoint($bp-narrow) {
			@include font-size(2);
		}
	}
}