.response {
	position: relative;
}

.response-content {
	margin-bottom: $spacing-1;

	@include breakpoint($bp-narrow) {
		@include font-size(4);
	}

	p {
		margin: 0;
	}

	img {
		display: inline-block;
		border: 0.25em solid $darken-1;
		margin: $spacing-2 0;
		max-height: 50vh;
		padding: 0.25em;
	}
}

.response-footer {
	p {
		@extend %clearfix;
		@include color($grey);
		@include font-size(6);
		margin: 0;

		@include breakpoint($bp-narrow) {
			@include font-size;
		}
	}

	.avatar {
		float: left;
		margin-right: $spacing-1;

		@include breakpoint($tp-wide) {
			margin-right: $spacing-2;
			position: absolute;
			right: 100%;
			top: 0.25em;
		}
	}

	.permalink {
		@extend %anchor--grey;
	}

	time {
		white-space: nowrap;
	}
}