.global-header {
	background-color: #262626;
	@include padding-x(2);
	@include padding-y;
	position: relative;

	h1 {
		@include font-size(4);
		margin: 0;

		@include breakpoint($bp-narrow) {
			@include font-size(2);
		}

		a {
			@extend %button;
			color: #fff;
			@include margin-xn(2);
			text-decoration: none;

			&:focus,
			&:hover {
				text-decoration: underline;
			}
		}
	}
}