.global-navigation {
	@include breakpoint($bp-wide) {
		@include table-cell;
		text-align: right;
	}

	ul {
		@extend %reset-list;
		@include margin-y(1);

		@include breakpoint($bp-wide) {
			margin: 0;
		}
	}

	@include breakpoint($bp-narrow) {
		li {
			display: inline-block;
			margin-right: $spacing-3;

			&:last-child {
				margin: 0;
			}
		}
	}

	a,
	button {
		@extend %button;
		@include caps;
		color: #fff;
		font-weight: bold;
		@include margin-xn(2);
		text-decoration: none;

		&:focus,
		&:hover {
			background-color: rgba(#fff, 0.0625);
		}
	}

	button {
		background-color: transparent;
	}
}