.global-navigation {
	background-color: #262626;
	@include border-radius;
	@include margin-x(1);
	margin-top: $spacing-1;
	@include padding-x(3);
	@include padding-y(2);

	&.enhanced {
		box-shadow: 0 0.25em 0 -0.125em #fff;
		margin-top: 0;
		position: absolute;
		right: 0;
		top: $spacing-4;
		z-index: 1;

		@include breakpoint($bp-narrow) {
			top: $spacing-4 + $spacing-1;
		}

		&::before {
			border-bottom: $spacing-1 solid #262626;
			border-left: $spacing-1 solid transparent;
			border-right: $spacing-1 solid transparent;
			bottom: 100%;
			content: "";
			display: block;
			height: 0;
			position: absolute;
			right: $spacing-3;
			width: 0;
		}
	}

	ul {
		@extend %reset-list;
	}

	@include breakpoint($tp-medium) {
		li {
			display: inline-block;
			margin-right: $spacing-3;

			&:last-child {
				margin: 0;
			}
		}
	}

	a,
	button {
		@extend %button;
		@include caps;
		color: #fff;
		font-weight: bold;
		@include margin-xn(2);
		text-decoration: none;

		&:focus,
		&:hover {
			background-color: rgba(#fff, 0.0625);
		}
	}

	button {
		background-color: transparent;
	}
}