.global-header {
	background-color: $darken-5;
	@include padding-x(2);
	@include padding-y;

	@include breakpoint($bp-wide) {
		@include table;
	}

	h1 {
		@include font-size(4);
		margin: 0;

		@include breakpoint($bp-narrow) {
			@include font-size(2);
		}

		@include breakpoint($bp-wide) {
			@include table-cell;
		}

		a {
			@extend %button;
			color: #fff;
			@include margin-xn(2);
			text-decoration: none;

			&:focus,
			&:hover {
				text-decoration: underline;
			}
		}
	}
}