.global-navigation-control {
	@extend %button;
	@include caps;
	color: #fff;
	font-weight: bold;
	@include margin-xn(2);
	position: absolute;
	right: $spacing-2;
	text-decoration: none;
	top: $spacing-1;

	@include breakpoint($bp-narrow) {
		top: $spacing-1 * 1.5;
	}

	&:focus,
	&:hover {
		background-color: rgba(#fff, 0.0625);
		color: #fff;
	}

	svg {
		display: inline-block;
		fill: #fff;
		position: relative;
		top: -1px;
		vertical-align: middle;
	}
}