.global-navigation-control {
	position: absolute;
	right: $spacing-2;
	top: $spacing-1;

	@include breakpoint($bp-narrow) {
		top: $spacing-1 * 1.5;
	}

	svg {
		display: inline-block;
		fill: #fff;
		height: 1em;
		position: relative;
		top: -1px;
		vertical-align: middle;
		width: 1em;
	}
}