.global-navigation {
	@include breakpoint($bp-wide) {
		@include table-cell;
		text-align: right;
	}

	[aria-hidden="true"] {
		display: none;
	}

	ul {
		@extend %clearfix;
		@extend %reset-list;
		@include margin-y(1);

		@include breakpoint($bp-wide) {
			margin: 0;
		}
	}

	@include breakpoint($bp-narrow) {
		li {
			display: inline-block;
			margin-right: $spacing-3;

			&:last-child {
				margin: 0;
			}
		}
	}

	a,
	button {
		@extend %button;
		@include caps;
		font-weight: bold;
		@include margin-xn(2);
		text-decoration: none;

		&:focus,
		&:hover {
			background-color: $darken-1;
		}
	}

	button {
		background-color: transparent;
		@include color($blue);

		&:focus,
		&:hover {
			@include color($blue, darker);
		}
	}
}

.global-navigation-toggle {
	position: absolute;
	right: $spacing-2;
	top: $spacing-1;

	@include breakpoint($bp-narrow) {
		top: $spacing-1 * 1.5;
	}

	svg {
		display: inline-block;
		height: 1em;
		position: relative;
		top: -1px;
		vertical-align: middle;
		width: 1em;
	}
}