.skip-link {
	@extend %ui-hidden--focusable;
	background-color: #fff;
	display: block;
	@include padding-y(2);
	text-align: center;

	&:focus {
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}
}