@-ms-viewport{
	width: device-width;
}

*,
*:before,
*:after {
	@include box-sizing(border-box);
}

html {
	background: #fff;
	@include text-size-adjust(100%);
}

body {
	@extend %font--source-sans-pro;
	color: palette(grey, x-dark);
	margin: 0;
	padding-bottom: 4em;
}

article,
footer,
header,
main {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@extend %font--open-sans;
	font-weight: 700;
}

a {
	background: none;
	color: palette(blue, light);
	text-decoration: underline;

	&:focus,
	&:hover {
		color: palette(blue, dark);
	}
}