.bio {
	position: relative;

	@include breakpoint($break--narrow $tweak--wide) {
		padding-left: 6em;
	}

	.home-link {
		@include breakpoint($break--narrow) {
			left: 0;
			position: absolute;
			top: 0.25em;
		}

		@include breakpoint($tweak--wide) {
			left: -6em;
		}
	}

	.avatar {
		border-radius: 0.25em;
		vertical-align: middle;
		width: 5em;
	}

	.salutation {
		@include font-size(x-large);
		font-weight: 700;
		margin: 1em 0 0.75em 0;

		@include breakpoint($tweak--medium) {
			@include font-size(xx-large);
		}
	}

	.content {
		@include font-size;
		line-height: 1.4;
	}

	abbr {
		border: none;
	}
}


/* @group Mini Bio */

	.bio--mini {
		@extend %clear;
		color: palette(grey, x-dark);
		margin-top: 4em;
		padding: 0;

		.home-link {
			float: left;
			left: auto;
			position: relative;
			top: 0;

			@include breakpoint($break--narrow) {
				top: -0.3em;
			}

			@include breakpoint($tweak--medium-wide) {
				float: none;
				left: -3.5em;
				position: absolute;
				top: -0.2em;
			}
		}

		.avatar {
			width: 2.5em;
		}

		.salutation {
			@extend %font--open-sans;
			@include font-size;
			margin: 0 0 0 3.1em;

			@include breakpoint($tweak--medium-wide) {
				@include font-size(x-large);
				margin: 0;
			}
		}
	}

/* @end */