.bio {
	position: relative;

	@include breakpoint($tweak--wide) {
		.home-link {
			left: -6em;
			position: absolute;
			top: 0.5em;
		}
	}

	.photo {
		border-radius: em(3);
		display: block;
		width: em(80);
	}

	.salutation {
		font-size: em(24);
		font-weight: 700;
		margin: 1em 0 0.75em 0;

		@include breakpoint($break--narrow) {
			font-size: em(32);
		}
	}

	.content {
		font-size: em(18);
		line-height: 1.4;
	}

	abbr {
		border: none;
	}
}


/* @group Mini Bio */

	.bio--mini {
		@extend %clear;
		color: $color--base;
		margin-top: 4em;

		.home-link {
			float: left;
			left: auto;
			position: relative;
			top: 0;

			@include breakpoint($break--narrow) {
				top: -0.3em;
			}

			@include breakpoint($break--wide) {
				float: none;
				left: -3.5em;
				margin: 0;
				position: absolute;
				top: -0.2em;
			}
		}

		.photo {
			width: em(40);
		}

		.salutation {
			@extend %open-sans;
			font-size: em(18);
			margin: 0 0 0 em($target: 56, $context: 18);

			@include breakpoint($break--wide) {
				font-size: em(24);
				margin: 0;
			}
		}
	}

/* @end */