.book-promo {
	margin: 3em 0;

	@include breakpoint($tweak--medium) {
		float: right;
		margin: 2.25em 0 3em 3em;
		width: 40%;
	}

	@include breakpoint($break--wide) {
		margin-right: -3em;
	}

	@include breakpoint($tweak--wide) {
		margin-right: -6em;
	}

	h1 {
		@include font-size(medium);
		margin: 0 0 0.75em 0;
	}

	figure {
		@extend %clear;
		background: palette(grey, x-light);
		margin: 0;
		padding: 1em;
	}

	.cover {
		display: block;
		margin: 0 auto;
		max-width: 18em;
		text-align: center;

		@include breakpoint($break--narrow ($tweak--medium - 0.001em)) {
			float: left;
			padding-right: 1em;
			width: 40%;
		}

		img {
			max-height: 12em;
			max-width: 100%;

			@include breakpoint($break--narrow) {
				max-height: none;
			}
		}
	}

	figcaption {
		margin-top: 1.5em;

		@include breakpoint($break--narrow ($tweak--medium - 0.001em)) {
			float: right;
			margin: 0;
			width: 60%;
		}

		p {
			line-height: 1.6;
			margin: 0 0 1.5em 0;
		}

		a {
			background: palette(blue, light);
			border-radius: 0.25em;
			color: #fff;
			display: block;
			line-height: 2.5em;
			padding: 0 1.5em;
			text-align: center;
			text-decoration: none;

			&:focus,
			&:hover {
				background: darken(palette(blue, light), 5%);
			}
		}
	}
}