.posts-list {
	border-bottom: 0.5em solid palette(grey, x-light);
	list-style: disc;
	margin: 3em 0;
	padding: 0 0 2em 1em;

	@include breakpoint($break--wide) {
		padding-left: 0;
	}

	.post {
		margin-bottom: 1em;
	}

	.post-title {
		font-size: 1em;

		@include breakpoint($break--wide) {
			font-size: em(24);
		}
	}

	.post-excerpt {
		display: none;

		@include breakpoint($break--wide) {
			display: block;
		}
	}

	@include breakpoint($break--wide) {
		.post--expanded {
			border-bottom: 0.5em solid palette(grey, x-light);
			list-style: none;
			margin-bottom: 3em;
			padding-bottom: 3em;

			.post-title {
				font-size: em(24);
			}
		}
	}
}