.posts-list {
	border-bottom: 0.5em solid palette(grey, x-light);
	list-style: disc;
	margin: 3em 0;
	padding: 0 0 2em 1em;

	@include breakpoint($tweak--medium) {
		padding-left: 0;
	}

	.post {
		margin-bottom: 1.5em;
	}

	.post-title {
		@include font-size(small);

		@include breakpoint($tweak--medium) {
			@include font-size(x-large);
		}
	}

	.post-excerpt p {
		@include font-size(small);
		margin: 0.5em 0;

		@include breakpoint($tweak--medium) {
			@include font-size;
			margin: 1em 0;
		}
	}

	@include breakpoint($tweak--medium) {
		.post--expanded {
			border-bottom: 0.5em solid palette(grey, x-light);
			list-style: none;
			margin-bottom: 2.5em;
			padding-bottom: 2.5em;

			.post-title {
				@include font-size(x-large);
			}
		}
	}
}