.profiles {
	margin: 3em 0;

	ol {
		@extend %ui-list;

		@include breakpoint($tweak--narrow) {
			@include column-count(2);
			@include column-gap(0.5em);
		}

		@include breakpoint($tweak--wide) {
			@include column-count(4);
		}
	}

	li {
		margin-bottom: 0.5em;
	}
}

.profile-link {
	background: palette(grey, x-light);
	border-radius: 0.25em;
	display: block;
	padding: 0.75em 1em;
	text-decoration: none;

	&:focus,
	&:hover {
		box-shadow: inset -1px -1px 0 rgba(#000, 0.1);
		color: #fff;
	}
}

@each $profile, $bgcolor in $profiles {
	.profile-link--#{$profile}:focus,
	.profile-link--#{$profile}:hover {
		background: $bgcolor;
	}
}