.skip-link {
	@extend %ui-hidden--focusable;
	background: #fff;
	display: block;

	&:focus {
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}

	span {
		padding-bottom: 0.75em;
		padding-top: 0.75em;
	}
}