.entry-header {
	margin-bottom: $spacing-2;
	position: relative;

	i {
		display: block;
		height: 1.5em;
		position: absolute;
		right: 0;
		top: 0;
		width: 1.5em;

		@include breakpoint($bp-narrow) {
			left: 0;
			right: auto;
		}

		@include breakpoint($tp-medium) {
			height: 2em;
			width: 2em;
		}

		@include breakpoint($tp-wide) {
			left: auto;
			margin-right: $spacing-1;
			right: 100%;
		}
	}

	svg {
		fill: $darken-1;
		width: 100%;
	}
}

.entry-title {
	@include font-size(4);
	margin: 0;

	@include breakpoint($tp-medium) {
		@include font-size(2);
	}

	i + & {
		margin-right: $spacing-3;

		@include breakpoint($bp-narrow) {
			margin: 0 0 0 $spacing-3;
		}

		@include breakpoint($tp-medium) {
			margin-left: $spacing-3 * 1.25;
		}

		@include breakpoint($tp-wide) {
			margin: 0;
		}
	}
}

.entry-content,
.entry-excerpt {
	position: relative;

	p {
		margin-bottom: $spacing-2;
	}

	blockquote {
		font-style: italic;
		margin: 0;
		@include padding-x(3);
		@include thick-border(left);

		code,
		em,
		i {
			font-style: normal;
		}
	}

	img {
		display: inline-block;
		border: 0.25em solid $darken-1;
		margin-bottom: $spacing-2;
		padding: 0.25em;
	}

	&:focus img,
	&:hover img {
		border-color: $darken-2;
	}

	code {
		background-color: $darken-1;
		display: inline-block;
		font-size: 0.8em;
		padding: ($spacing-1 / 2) $spacing-1;
	}
}

.entry-footer {
	@include color($grey, light);
	@include font-size(6);

	p {
		margin: 0;
	}

	a {
		@extend %anchor--grey;
	}
}

.entry-meta-list {
	@extend %reset-list;

	dt,
	dd {
		display: inline-block;
	}

	dt {
		margin-right: $spacing-1;
	}

	dd {
		margin: 0;

		&:after {
			content: ", ";
		}

		&:last-child:after {
			content: "";
		}
	}
}