.global-footer {
	@include margin-y(4);

	p {
		@include color($grey, light);
		@include font-size(6);
		margin: 0;

		+ p {
			@include margin-y(2);
		}
	}

	a {
		@extend %anchor--grey;
	}

	a[rel="previous"] {
		margin-right: $spacing-1;
	}

	a[rel="next"] {
		margin-left: $spacing-1;
	}
}
