.highlight {
	// Comment
	// Comment.Multiline
	// Comment.Single
	.c,
	.cm,
	.c1 {
		color: #998;
		font-style: italic;
	}

	// Error
	.err {
		background-color: #e3d2d2;
		color: #a61717;
	}

	// Keyword
	// Keyword.Constant
	// Keyword.Declaration
	// Keyword.Namespace
	// Keyword.Pseudo
	// Keyword.Reserved
	// Operator
	// Operator.Word
	.k,
	.kc,
	.kd,
	.kn,
	.kp,
	.kr,
	.o,
	.ow {
		color: #000;
		font-weight: bold;
	}

	// Comment.Preproc
	// Comment.Special
	.cp,
	.cs {
		color: #999;
		font-style: italic;
		font-weight: bold;
	}

	// Generic.Deleted
	.gd {
		background-color: #fdd;
		color: #000;
	}

	// Generic.Emph
	.ge {
		color: #000;
		font-style: italic;
	}

	// Generic.Error
	// Generic.Traceback
	.gr,
	.gt{
		color: #a00;
	}

	// Generic.Heading
	// Name.Builtin.Pseudo
	.gh,
	.bp {
		color: #999;
	}

	// Generic.Inserted
	.gi {
		background-color: #dfd;
		color: #000;
	}

	// Generic.Output
	.go {
		color: #888;
	}

	// Generic.Prompt
	// Name.Namespace
	.gp,
	.nn{
		color: #555;
	}

	// Generic.Strong
	.gs {
		font-weight: bold;
	}

	// Generic.Subheading
	.gu {
		color: #aaa;
	}

	// Keyword.Type
	// Name.Class
	.kt,
	.nc {
		color: #458;
		font-weight: bold;
	}

	// Literal.Number
	// Literal.Number.Float
	// Literal.Number.Hex
	// Literal.Number.Integer
	// Literal.Number.Oct
	// Literal.Number.Integer.Long
	.m,
	.mf,
	.mh,
	.mi,
	.mo,
	.il {
		color: #099;
	}

	// Literal.String
	// Literal.String.Backtick
	// Literal.String.Char
	// Literal.String.Doc
	// Literal.String.Double
	// Literal.String.Escape
	// Literal.String.Heredoc
	// Literal.String.Interpol
	// Literal.String.Other
	// Literal.String.Single
	.s,
	.sb,
	.sc,
	.sd,
	.s2,
	.se,
	.sh,
	.si,
	.sx,
	.s1 {
		color: #d01040;
	}

	// Name.Attribute
	// Name.Constant
	// Name.Entity
	// Name.Variable.Class
	// Name.Variable.Global
	// Name.Variable.Instance
	.na,
	.no,
	.ni,
	.vc,
	.vg,
	.vi {
		color: #008080;
	}

	// Name.Builtin
	.nb {
		color: #0086b3;
	}

	// Name.Decorator
	.nd {
		color: #3c5d5d;
		font-weight: bold;
	}

	// Name.Exception
	// Name.Function
	// Name.Label
	.ne,
	.nf,
	.nl {
		color: #900;
		font-weight: bold;
	}

	// Name.Tag
	// Name.Variable
	.nt,
	.nv {
		color: #000080;
	}

	// Text.Whitespace
	.w {
		color: #bbb;
	}

	// Literal.String.Regex
	.sr {
		color: #009926;
	}

	// Literal.String.Symbol
	.ss {
		color: #990073;
	}
}