.inline-form-fields {
	@include table;

	input {
		border-right: 0;
		max-width: 26em;
		@include table-cell;
		width: 70%
	}

	button {
		@include border-radius(0 0.25rem 0.25rem 0);
		max-width: 6em;
		@include table-cell;
		width: 30%;
	}
}