.pagination {
	@extend %clearfix;
	margin-bottom: $spacing-4;
	position: relative;

	a {
		@extend %button--grey;
	}

	.disabled {
		@extend %ui-hidden;
	}

	.next_page {
		float: right;

		&:after {
			content: "→";
			display: inline-block;
			margin-left: $spacing-1;
		}
	}

	.previous_page {
		float: left;

		&:before {
			content: "←";
			display: inline-block;
			margin-right: $spacing-1;
		}
	}

	.hint {
		clear: both;
		margin: 0;
		padding-top: $spacing-2;
		text-align: center;

		@include breakpoint($bp-wide) {
			left: 0;
			padding-top: $spacing-1;
			position: absolute;
			right: 0;
			top: 0;
		}
	}
}