.pagination {
	@extend %clearfix;
	margin-bottom: $spacing-4;
	position: relative;

	a {
		@extend %button--grey;
		position: relative;
		z-index: 1;
	}

	.disabled {
		@extend %ui-hidden;
	}

	.next_page {
		float: right;

		&:after {
			content: "→";
			display: inline-block;
			margin-left: $spacing-1;
		}
	}

	.previous_page {
		float: left;

		&:before {
			content: "←";
			display: inline-block;
			margin-right: $spacing-1;
		}
	}

	.hint {
		clear: both;
		display: none;
		left: 0;
		margin: 0;
		padding-top: $spacing-1;
		position: absolute;
		right: 0;
		text-align: center;
		top: 0;

		@include breakpoint($bp-wide) {
			display: block;
		}
	}
}