.photos {
	@extend %clearfix;
	@extend %reset-list;
	margin-bottom: $spacing-3;

	@include breakpoint($bp-narrow) {
		@include margin-xn(1);
	}

	@include breakpoint($tp-ultra) {
		@include margin-xn(5);
	}

	@include breakpoint($bp-ultra) {
		@include margin-xn(6);
	}

	li {
		margin-bottom: $spacing-3;
		position: relative;

		@include breakpoint($bp-narrow) {
			float: left;
			@include padding-x;
			width: 50%;

			&:nth-child(odd) {
				clear: left;
			}
		}

		@include breakpoint($tp-ultra) {
			width: 25%;

			&:nth-child(odd) {
				clear: none;
			}

			&:nth-child(4n+1) {
				clear: left;
			}
		}

		@include breakpoint($bp-ultra) {
			width: 20%;

			&:nth-child(4n+1) {
				clear: none;
			}

			&:nth-child(5n+1) {
				clear: left;
			}
		}
	}

	.entry-content {
		position: relative;
		text-align: center;

		img {
			margin: 0;
		}
	}

	.entry-footer {
		margin-top: $spacing-2;
	}
}