.photos {
	@extend %clearfix;
	@extend %reset-list;
	margin-bottom: $spacing-3;

	@include breakpoint($tp-ultra) {
		@include margin-xn(5);
	}

	li {
		margin-bottom: $spacing-3;
		position: relative;

		@include breakpoint($bp-narrow) {
			float: left;
			width: 50%;

			&:nth-child(odd) {
				clear: left;
				padding-right: $spacing-1;
			}

			&:nth-child(even) {
				padding-left: $spacing-1;
			}
		}

		@include breakpoint($tp-ultra) {
			width: 33.33333%;

			&:nth-child(odd),
			&:nth-child(even) {
				clear: none;
				padding: 0;
			}

			&:nth-child(3n) {
				padding-left: $spacing-1;
			}

			&:nth-child(3n+1) {
				clear: left;
				padding-right: $spacing-1;
			}

			&:nth-child(3n+2) {
				@include padding-x(1);
			}
		}
	}

	.entry-content {
		position: relative;
		text-align: center;

		img {
			margin: 0;
		}
	}

	.entry-footer {
		margin-top: $spacing-1;
	}
}