.photos {
	@extend %clearfix;
	@extend %reset-list;
	margin-bottom: $spacing-3;

	@include breakpoint($bp-narrow) {
		@include margin-xn(1);
	}

	@include breakpoint($tp-ultra) {
		@include margin-xn(5);
	}

	@include breakpoint($bp-ultra) {
		@include margin-xn(6);
	}

	li {
		margin-bottom: $spacing-2;
		position: relative;

		@include breakpoint($bp-narrow) {
			float: left;
			@include padding-x;
			width: 50%;

			&:nth-child(odd) {
				clear: left;
			}
		}

		@include breakpoint($tp-ultra) {
			width: 25%;

			&:nth-child(odd) {
				clear: none;
			}

			&:nth-child(4n+1) {
				clear: left;
			}
		}
	}

	.entry-content {
		@supports (object-fit: cover) {
			height: 0;
			padding-bottom: 100%;
			position: relative;

			a {
				bottom: 0;
				left: 0;
				position: absolute;
				right: 0;
				top: 0;
			}

			img {
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}

		img {
			margin: 0;
		}
	}

	.entry-footer {
		background-color: $darken-3;
		bottom: $spacing-1;
		color: #fff;
		left: $spacing-1;
		opacity: 0;
		padding: $spacing-1;
		pointer-events: none;
		position: absolute;
		right: $spacing-1;
		text-shadow: 1px 1px 0 $darken-4;
		transition: opacity 0.25s ease-out;

		@include breakpoint($bp-narrow) {
			left: $spacing-2;
			right: $spacing-2;
		}
	}

	li:hover .entry-footer {
		opacity: 1;
	}
}