.projects-list {
	list-style: disc;
	margin: 0;
	padding-left: $spacing-2;

	@include breakpoint($bp-wide) {
		padding-left: 0;
	}

	li {
		margin-bottom: $spacing-2;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.project-title {
	display: inline-block;
	@include font-size(4);
	margin: 0 $spacing-1 0 0;
}

.project-description {
	@include color($grey, light);

	a {
		@extend %anchor--grey;
	}
}