.tags {
	@extend %reset-list;
	font-size: 0;
	margin-bottom: $spacing-4;

	li {
		display: inline-block;
		@include font-size;
		margin: 0 $spacing-1 $spacing-1 0;
	}

	a {
		@extend %button--grey;
	}
}