.tags-list {
	margin-bottom: $spacing-4;
	padding: 0;

	@include breakpoint($bp-wide) {
		margin-bottom: $spacing-2;
	}

	dt {
		display: inline-block;
		@include font-size(2);
		font-weight: bold;
		margin-bottom: $spacing-1;
		padding-right: $spacing-2;
		position: relative;
		text-transform: uppercase;
		width: $spacing-4;

		@include breakpoint($bp-narrow) {
			@include font-size(1);
		}

		@include breakpoint($bp-wide) {
			left: -$spacing-4;
			text-align: right;

		}
	}

	dd {
		margin: 0 0 $spacing-3 0;
		position: relative;

		@include breakpoint($bp-wide) {
			margin: 0;
			top: -3rem;
		}
	}

	ol {
		@extend %reset-list;
		font-size: 0;
	}

	li {
		display: inline-block;
		@include font-size;
		margin: 0 $spacing-1 $spacing-1 0;
	}

	a {
		@extend %button--grey;
	}
}