.welcome {
	padding-left: $spacing-3 * 1.75;
	position: relative;

	@include breakpoint($bp-narrow) {
		padding-left: $spacing-5;
	}

	@include breakpoint($tp-ultra) {
		padding-left: 0;
	}

	.avatar {
		left: 0;
		position: absolute;
		top: 0;

		@include breakpoint($tp-ultra) {
			left: -$spacing-5;
		}

		@include breakpoint($bp-narrow) {
			img {
				height: 5em;
			}
		}
	}

	.salutation {
		@include font-size(2);

		@include breakpoint($tp-medium) {
			@include font-size(1);
		}
	}

	.content {
		@include font-size(4);

		> :last-child {
			margin-bottom: 0;
		}
	}

	abbr {
		text-decoration: none;
	}
}