.single-header {
	margin-bottom: $spacing-4;
	text-align: center;

	@include breakpoint($tp-ultra) {
		@include margin-xn(4);
	}

	small {
		@include color($grey, light);
		display: block;
		@include font-size(6);

		@include breakpoint($bp-narrow) {
			@include font-size;
		}
	}
}