@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: bold;
	src: url(asset-path("open-sans-bold.woff")) format("woff");
}

@font-face {
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: normal;
	src: url(asset-path("source-sans-pro-regular.woff")) format("woff");
}

@font-face {
	font-family: "Source Sans Pro";
	font-style: italic;
	font-weight: normal;
	src: url(asset-path("source-sans-pro-italic.woff")) format("woff");
}

@font-face {
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: bold;
	src: url(asset-path("source-sans-pro-bold.woff")) format("woff");
}