---
layout: application
---

<section class="bio h-card">
	<a href="{{ site.author.url }}" class="home-link u-url" rel="home"><img src="/jgarber.png" alt="" class="avatar u-photo"></a>

	<h1 class="salutation">Hi! I’m <a href="mailto:jason&#064;sixtwothree&#46;org" class="p-name u-email">{{ site.author.name }}</a>.</h1>

	<div class="content p-note">
		<p>I’m a <a href="http://viget.com/about/team/jgarber" class="p-role">web developer</a>, <a href="http://www.whoistheorchid.com/" title="Listen to my band, The Orchid">musician</a>, <a href="http://refresh-dc.org/" title="Visit the Refresh DC website">community organizer</a>, <a href="http://flickr.com/photos/jgarber" rel="me" title="View my Flickr photos">photographer</a>, and <a href="/blog" title="Read my semi-regular ramblings">occasional author</a> living in <span class="p-locality">Washington</span>, <abbr class="p-region" title="District of Columbia">DC</abbr>.</p>
		<p>You can find me all over the web, typically as “<span class="p-nickname" title="And sometimes, jgarber623.">jgarber</span>.”</p>
	</div>
</section>

<section class="recent-posts h-feed">
	<h1 class="p-name">Recent Posts</h1>

	<ol reversed>
		{% for post in site.categories.blog limit: 5 %}
			<li class="post">
				{% include post.html minimized=true %}
			</li>
		{% endfor %}
	</ol>
</section>

<section class="projects">
	<h1>Selected Works</h1>

	<ol reversed>
		{% for project in site.data.projects %}
			<li class="project h-event">
				<h2 class="title p-name"><a href="{{ project.url }}">{{ project.title }}</a></h2>
				<span class="description p-summary">{{ project.description }}, <time class="dt-start" datetime="{{ project.date }}">{{ project.date | date: '%B %Y' }}</time>.</span>
			</li>
		{% endfor %}
	</ol>
</section>

<section class="profiles">
	<h1>Elsewhere</h1>

	<ol>
		{% for profile in site.data.profiles %}
			<li><a href="{{ profile.url }}" class="profile-link--{{ profile.class }} profile-link" rel="me">{{ profile.name }}</a></li>
		{% endfor %}
	</ol>
</section>