---
layout: application
---

<section class="bio h-card vcard">
	<a href="/" class="home-link u-url url uid" rel="home"><img src="http://gravatar.com/avatar/0f21734c5383cd5d49234fba7a6b2131?s=160" alt="" class="u-photo photo"></a>

	<h1 class="salutation">Hi! I’m <a href="mailto:jason&#064;sixtwothree&#46;org" class="p-name u-email fn email">Jason Garber</a>.</h1>

	<div class="content p-note note">
		<p>I’m a <a href="http://viget.com/about/team/jgarber" class="p-role role">web developer</a>, <a href="http://flickr.com/photos/jgarber" rel="me" title="View my Flickr photos">photographer</a>, <a href="http://www.whoistheorchid.com/" title="Listen to my band, The Orchid">musician</a>, <a href="http://refresh-dc.org/" title="Visit the Refresh DC website">community organizer</a>, and <a href="/blog" title="Read my semi-regular ramblings">occasional author</a> living in <span class="h-adr p-adr adr"><span class="p-locality locality">Washington</span>, <abbr class="p-region region" title="District of Columbia">DC</abbr></span>.</p>
		<p>You can find me all over the web, typically as “<span class="p-nickname nickname" title="And sometimes, jgarber623.">jgarber</span>.”</p>
	</div>
</section>

<section class="projects">
	<h1>Selected Works</h1>

	<ol reversed>
		{% for project in site.data.projects %}
			<li class="project">
				<h2 class="title"><a href="{{ project.url }}">{{ project.title }}</a></h2>
				<span class="description">{{ project.description }}, <time datetime="{{ project.date }}">{{ project.date | date: '%B %Y' }}</time>.</span>
			</li>
		{% endfor %}
	</ol>
</section>

<section class="profiles">
	<h1>Elsewhere</h1>

	<ol>
		{% for profile in site.data.profiles %}
			<li><a href="{{ profile.url }}" class="profile-link--{{ profile.class }} profile-link" rel="me">{{ profile.name }}</a></li>
		{% endfor %}
	</ol>
</section>